!!! 5
html(lang='en')
  head
    title httpbug
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .background.new
      .header
        .css-logo
          img(src='images/spotterrf-labs-white-logo.png', alt='')
        .css-title HTTP Bug
        ul.css-tab-menu
          li.js-ui-tab.js-get(data-protocol='get')
            a(href='/get/default') GET
          li.js-ui-tab.js-post(data-protocol='post')
            a(href='/post/default') POST
      .css-container.container
        .js-ui-tab-view.js-all.css-inactive(data-name='get')
          .css-tab-bar.js-tab-bar
            li.js-ui-tab.js-default.css-default.css-hidden(data-protocol="get")
              a(href='/get/default')  + 
          .js-ui-tab-view.css-ui-tab-view(data-name='default')
            .js-poll-form.css-poll-form
              span.css-poll-url Url to poll: 
              span.css-poll-protocol http://
              input.js-poll-url.css-poll-url(type='text')(data-protocol='get')(value="http://remote.spotterrf.com:7772/spotter.kml")
              span.css-poll-interval Interval (milliseconds): 
              input.js-poll-interval.css-poll-interval(type='tel')(data-protocol='get')
              a.css-button.css-poll-button.js-poll-button.js-get(data-protocol='get')(data-count=0) Poll
            .js-get-stream.js-all-stream.css-stream
              span.js-allstream-error
            a.css-button.js-clear.js-get(data-protocol='get') Clear
          .css-tab-container.js-tab-container
        .js-ui-tab-view.js-all.css-inactive(data-name='post')
          .css-tab-bar.js-tab-bar
            li.js-ui-tab.js-default.css-default.css-hidden(data-protocol="post")
              a(href='/post/default')  + 
          .js-ui-tab-view.css-ui-tab-view(data-name='default')
            .js-poll-form.css-poll-form
              span.css-poll-url Url to poll: 
              span.css-poll-protocol http://
              input.js-poll-url.css-poll-url(type='text')(data-protocol='post')(value="localhost:2468")
              span.css-poll-interval Interval (milliseconds): 
              input.js-poll-interval.css-poll-interval(type='tel')(data-protocol='post')
              a.css-button.css-poll-button.js-poll-button.js-post(data-protocol='post')(data-count=0) Poll
              .css-poll-data
                span JSON to post: 
                textarea.js-poll-data
            .js-post-stream.js-all-stream.css-stream
              span.js-allstream-error
            a.css-button.js-clear.js-post(data-protocol='post') Clear
          .css-tab-container.js-tab-container

      span.js-all-templates.css-hidden
        span.js-message-template
          span
          br
        span.js-timestamp-template
          .css-streamTime
        span.js-code-template
          pre
            span
            code.highlight-me
        span.js-tab-template
          li.js-ui-tab(data-protocol='')
            a(href='')
            span.js-close-tab.css-close-tab x
        div
      .js-tab-container-template.css-hidden
        .js-ui-tab-view.css-ui-tab-view.js-all.css-inactive(data-name='')
          .css-connection-info
            .css-connection-status.js-connection-status Connection Status
          .css-top.right
            a.css-button.js-log.css-log(data-protocol='')
          .js-get-stream.js-all-stream.css-stream
            span.js-allstream-error
          .css-left.css-bottom
            a.css-button.css-closeSocket.js-closeSocket(data-protocol='') Close Connection
          .css-center.css-bottom
            a.css-button.js-clear(data-protocol='') Clear
          .css-right.css-bottom
            p Lock scroll to bottom
            input.js-scroll(type="checkbox")(checked="true")(data-protocol='')

script(src='./vendor/jquery-1.7.2.min.js', type='text/javascript')
script(src='./vendor/jquery-ui-1.8.22.custom.min.js', type='text/javascript')
script(src='./vendor/highlight.pack.js', type='text/javascript')
script(src='pakmanaged.js', type='text/javascript')

